@charset "UTF-8";

:root{
	--dark-blue:#0000ca;
	--shaded-red:#ca0000;
	--dark-red:#b31c06;
	--snow-grey:#fbfbfb;
	--black-grey:#232323;
	--black:#000;
	--dark-violet:#9400d2;
	--gold:#edd81b;
}
h1{
	color: var(--dark-blue);
}

h2{
	color:var(--shaded-red);
}

body {
	background-color: var(--black);
	color:var(--snow-grey);
	}
	
	table.dataTable tr.odd {
	background-color: var(--black-grey);
	}
	table.dataTable tr.even {
	background-color: var(--black);
	}
	
	.form-control-valid{
	background-color: var(--black);
	color:var(--snow-grey);
	}
		.wrong{
	background-color: var(--dark-red);
	color:var(--black-grey);
	}
	
	
	.nav.navbar-nav.navbar-left li a {
	display: block;
  	padding: 8px 14px;
  	border-bottom:solid 1px #444;
  	width: 200px;
  	
	text-align: left;
	color: var(--black);
	z-index:0;
	}
	
	.lined{
	display: inline-block;
	text-align: center;
	padding: 8px 14px;
	z-index:1;
	}
	
.navbar-brand{
	background-color: var(--black);
	color:var(--gold);
}
	#fixedTop{
	position: fixed;
	width: 400px;
	background-color: var(--black);
	z-index:1;
	}
	
#topNavi #navbar a {
	
	top: 301px;
    width: 180px;
	border-bottom:solid 1px #444;
	
    background-color: var(--dark-violet);
    color:var(--snow-grey);
    
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    
    -webkit-transition: color 1000ms linear;
    -moz-transition: color 1000ms linear;
    -o-transition: color 1000ms linear;
    -ms-transition: color 1000ms linear;
    transition: color 1000ms linear;
}

#topNavi #navbar a:hover {
    background-color: var(--dark-red);
    color:var(--gold);
}

.main-content {

  position: absolute;
  margin-top: 120px;
  margin-left: 200px;
  padding: 20px;
}

.btn-v-delete{
	background-color:var(--black);
	color:var(--snow-grey);
}